/* .category-bar {
  display: flex;
  gap: 30px;
  padding: 12px 20px;
  background: #fff;
  overflow-x: auto;
  scrollbar-width: none; 
  border-bottom: 1px solid #eaeaea;
}

.category-bar::-webkit-scrollbar {
  display: none;
}

.category-item {
  min-width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 8px 6px;
  border-radius: 8px;
  transition: all 0.25s ease;
}

.category-item img {
  width: 56px;
  height: 56px;
  object-fit: contain;
  margin-bottom: 6px;
  border-radius: 25px;
}

.category-item p {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  text-align: center;
  white-space: nowrap;
}

.category-item:hover {
  background: #f5f7ff;
}

.category-item:hover p {
  color: #2874f0;
}


.category-item.active {
  background: #eef3ff;
}

.category-item.active p {
  color: #2874f0;
  font-weight: 600;
} */


.category-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #eee;
}

/* Slider container */
.category-bar {
  display: flex;
  gap: 50px;
  padding: 14px 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.category-bar::-webkit-scrollbar {
  display: none;
}

/* Category card */
.category-item {
  min-width: 90px;
  text-align: center;
  cursor: pointer;
  padding: 10px 8px;
  border-radius: 10px;
  transition: all 0.25s ease;
}

.category-item img {
  width: 100px;      
  height: 100px;     
  object-fit: contain;
  border-radius: 12px; 
  background: #f5f5f5;
  padding: 8px;
  margin-bottom: 6px;
}

.category-item p {
  font-size: 13px;
  font-weight: 500;
  color: #333;
}

/* Hover */
.category-item:hover {
  background: #f5f7ff;
  transform: translateY(-2px);
}

.category-item:hover p {
  color: #2874f0;
}

/* Active */
.category-item.active {
  background: #eef3ff;
}

.category-item.active p {
  color: #2874f0;
  font-weight: 600;
}

/* Arrow buttons */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.scroll-btn.left {
  left: 6px;
}

.scroll-btn.right {
  right: 6px;
}

.scroll-btn:hover {
  background: #2874f0;
  color: white;
}

